h1 {
    color: blue;
<<<<<<< HEAD
}
=======
    
}


>>>>>>> daf4cb0a46735c8a3658bf0df5a965aabc80655c
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}
